@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: FuturaBook;
    src: url(../fonts/Futura-SC-T-OT-Book_19037.ttf);
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	font-family: FuturaBook;	
}

.seacret_language ul { list-style: none; }
.seacret_language ul li { float: left; margin: 0px 15px; }

#edit-product-id--3 { display: none; }
#edit-product-id--4 { display: none; }
#edit-product-id--5 { display: none; }
#edit-product-id--13 { display: none; }
#edit-product-id--9 { display: none; }
#edit-product-id--10 { display: none; }
#edit-product-id--11 { display: none; }
#edit-product-id--12 { display: none; }
#edit-product-id { display: none; }