@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: FuturaLight;
    src: url(../fonts/Futura-Std-Light_19054.ttf);
    font-weight: light;
}

h1, h2, h3, h4, h5, h6 {
	font-family: FuturaLight;	
}

.seacret_language ul { list-style: none; }
.seacret_language ul li { float: left; margin: 0px 15px; }

#edit-product-id--3 { display: none; }
#edit-product-id--4 { display: none; }
#edit-product-id--5 { display: none; }
#edit-product-id--13 { display: none; }
#edit-product-id--9 { display: none; }
#edit-product-id--10 { display: none; }
#edit-product-id--11 { display: none; }
#edit-product-id--12 { display: none; }
#edit-product-id { display: none; }

node .links,.node-readmore,
.comment .links { display:none !important;
}


#node-231 {
	margin: 80px 0px;	
}

.seacret_home_blocks {
	padding: 5px; float: left; width: 33%;
	
}

#section-main-content {
  margin-top: -50px;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	
	.seacret_home_blocks {
	padding: 5px; float: left; width: 50%;
	}
	
}


@media only screen and (max-device-width: 480px) {
	.region-navigation { float: right; }
	
	.seacret_home_blocks {
	padding: 5px; float: left; width: 100%;
	}

}